.container{
    background: pink;
    border: 5px solid black;
    display: flex;
    flex-direction:row;
    height: 800px;
    /* flex-wrap: wrap; */
    justify-content: start; 
    align-items: start;
    align-content: start;
}
.box{
    /* height: 200px;
    width: 200px; */
    border: 2px solid brown;
    margin: 2px;
    padding: 2px;
}
#box1{
    background-color: aqua;
    /* order: 500; */
    /* flex-shrink: 4; */
    /* flex-grow: 1; */
    align-self: center;
}
#box2{
    background-color: orange;
    /* flex-grow: 1; */
    align-self: start;
}
#box3{
    background-color: blue;
    /* flex-grow: 1; */
    align-self: end;
}
#box4{
    background: red;
    /* order:-1; */
    /* flex-grow: 1; */
    /* flex-basis: 400px; */
    
}